/* eusable styles variables */
:root {
    --section-presentation-gradient: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --presentation-gradient-round-container: linear-gradient(to bottom, hsla(256, 72%, 36%, 0.8), hsla(241, 72%, 46%, 0));
    --summary-container-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.1); 
}

/* universal selector styles */
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;    
}

/* relative measures */
html {
    font-size: 62.5%;
}

/* main container */
.container {
    width: 100vw;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start container first section */
/* first section container  (presentation) */
.containerPresentation {
    width: 20%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    border-radius: 20px;
    background: var(--section-presentation-gradient);
    text-align: center;
    z-index: 1;
}

/* first section container title */
.containerPresentation h1 {
    font-size: 2.5rem;
    padding-top: 25px;
    margin-bottom: 22px;
    color: #c9bbff;
    font-weight: 800;
}

/* round container styles */
.containerRound {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    
    /* gradient with 80% transparency */
    background: var(--presentation-gradient-round-container);
    border-radius: 48%;
    padding: 20px 20px 0 20px;
}

/* round container number styles */
.containerRound .number {
    font-size: 4.2rem;
    color: #fdfdff;
    margin: 5px auto 0;
    font-weight: 700;
}

/* styles description round container */
.containerRound .description {
    color: #8577ff;
    margin-top: -5px;
    font-size: 12px;
}

/* container test styles */
.containerTest {
    width: 100%;
    margin-top: 10px;
}

/* container test styles title */
.containerTest .title {
    color: #f3f1ff;
    font-size: 2rem;
    margin-bottom: 18px;
}

/* container test styles description */
.containerTest .description {
    color: #a8a7ff;
    padding:  0 40px 43px;
    font-size: 1.2rem;
}

/* start session number 2 (summary) */
/* summary-container-styles */
.containerSummary {
    width: 20%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    text-align: center;
    padding: 28px 28px 0 40px;
    margin-left: -12px;
    box-shadow: var(--summary-container-shadow);
    border-bottom-right-radius: 20px;
}

/* container styles section title summary */
.containerSummary .title {
    color: #323a4f;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
}

/* general styles for articles containers of the summary section */
.stylesGeneral-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 8px; 
    margin-bottom: 8px; 
    border: 2px solid #fff6f5;
}

/* background color of the article containers of the summary section */
.containerReaction {
    background-color: #fff6f5;
}
.containerMemory {
    background-color: #fffbf2;
}
.containerVerbal {
    background-color: #f2fafa;
}
.containerVisual {
    background-color: #f3f3fc;
}


.containerDescription {
    display: inline-flex;
}
/* general styles for icon and description of the summary section */
.icon {
    display: inline-flex;
    width: 15px;
    height: 15px;
}
.stylesGeneral-description {
    font-weight: 800;
    font-size: 1.2rem;
    margin-left: 8px;
}

/* color for item container descriptions summary section */
.containerReaction .description {
    color: #db6566;
}
.containerMemory .description {
    color: #e4b85d;
}
.containerVerbal .description {
    color: #52bfa4;
}
.containerVisual .description {
    color: #313aba;
}

/* general styles for percentage description */
.containerPercentage {
    display: inline-flex;
}

/* general styles for summary section number */
.number {
    color: #2b2a37;
    font-weight: bold;
    font-size: 1.3rem;
    margin-right: 6px;
    
}
.percentage {
    color: #a7a0a7;
    font-size: 1.3rem;
    font-weight: bold;
}

/* styles for the button of the summary section */
.containerButton button {
    padding: 10px 12px ;
    text-align: center;
    background-color: #303b59;
    border: none;
    border-radius: 28px;
    width: 100%;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.containerButton button:hover {
    background: var(--section-presentation-gradient);
}

/* styles for the attribute container */
.containerAttribution {
    width: 100%;
    line-height: 10px;
    margin: 8px 0 10px 0;
    color: #a7a0a7;
    overflow: hidden; 
}

.containerAttribution a {
    color: #a7a0a7;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
}

/* style breakpoint for screens smaller than 425px */
@media screen and (max-width: 428px) {
    .container {
        flex-direction: column;
        height: 100%;
    }
    .containerPresentation {
        width: 90%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .ContainerPresentation h1 {
        margin-top: 40px; 
    }
    .containerSummary {
        width: 90%;
    }
    .stylesGeneral-article {
        margin-bottom: 15px;
    }
    .containerTest .description {
        margin: 0 20px;
        font-size: 1.4rem;
    }
    .icon {
        width: 18px;
        height: 18px;
    }
    .stylesGeneral-description {
        font-size: 1.4rem;
    }
    .containerPercentage .number,
    .containerPercentage .percentage {
        font-size: 1.5rem;
    }
    .containerButton button {
        padding: 15px;
    }
    .containerAttribution {
        margin: 20px 0;
    }
}
